Pillow==2.6.1
PyBluez==0.23
RPi.GPIO==0.6.3
RTIMULib==7.2.1
chardet==2.3.0
colorama==0.3.2
gpiozero==1.4.0
html5lib==0.999
imutils==0.5.3
mcpi==0.1.1
numpy==1.8.2
pgzero==1.1
picamera==1.13
pifacecommon==4.2.1
pifacedigitalio==3.1.0
pygame==1.9.2a0
pyserial==2.6
python-apt==0.9.3.13
python-debian==0.1.27
pyzmq==19.0.0
requests==2.4.3
sense-hat==2.2.0
six==1.8.0
spidev==3.0
urllib3==1.9.1
wheel==0.24.0
zmq==0.0.0
